body {
    font-family: Arial;
    background: #f2f2f2;
}

.box {
    width: 420px;
    background: #fff;
    padding: 20px;
    margin: 80px auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

img {
    margin-top: 10px;
    width: 200px;
}

input {
    padding: 10px;
    width: 80%;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    padding: 10px 25px;
    cursor: pointer;
}